boto3
python-dotenv
gunicorn
uvicorn
fastapi[standard]
sqlmodel
pandas
numpy
tastytrade
tastytrade_api
dash
dash_bootstrap_components
dash_bootstrap_templates
psycopg2-binary
numba
scipy
SQLModel
yfinance
flask_login
psycopg2-binary
authlib
httpx
path
aiohttp