<!DOCTYPE html>
<html lang=""en">
<head>
    <meta charset=""UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central Limit Theorem Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>
<body>
    <canvas id="myChart" width="900" height="400"></canvas>
    <script>
 const ctx = document.getElementById('myChart').getContext('2d');
 var allxs = {{ xlist | tojson | safe }};
 var allys = {{ ylist | tojson | safe }};
 var data = allxs.map((x, index) => ({x, y: allys[index]}));
 console.log(data);
 zzz = allxs;
 console.log(zzz);
 xlist = zzz;
// var xlist = [1,2,3];
// console.log(xlist);
var xstr = xlist.toString();
//  var xstr = 'hello';
//  console.log(xaxis)
const myChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: xstr,
            data: data,
            // data: [
            //     { x: 1, y: 2 },
            //     { x: 3, y: 5 },
            //     { x: 6, y: 8 },
            //     // Add more data points here
            // ],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            pointRadius: 5,
        }]
    },
    options: {
        scales: {
            x: {
                type: 'linear',
                position: 'bottom'
            },
            y: {
                type: 'linear',
                position: 'left'
            }
        }
    }
});
   </script>
</body>
</html>